@import url(./css/general.css);

.register-container {
    display: flex;
    gap: var(--sm);
}

.register-container>div {
    flex: 1;
}

.personal-data {
    padding: var(--sm) 0;
}

.subjects {
    padding: var(--sm) var(--sm) 0;
    border-radius: var(--brd-radius);
    background-color: var(--clr-slate-100);
}

.subject-inputs {
    display: flex;
    gap: var(--xs);
}

.verify-buttons {
    box-shadow: inset 0 0 0 2px var(--clr-primary);
    border-radius: var(--brd-radius);
    border: none;
    cursor: pointer;
    transition: background-color .2s, color .1s;

    background: none;
    width: 45px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
}

.verify-buttons:hover {
    background-color: var(--clr-primary);
}

.verify-buttons>svg {
    fill: var(--clr-secondary);
}

.verify-buttons:hover>svg {
    fill: hsl(1, 0%, 98%);
}

/* md */
@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
        gap: var(--lg);
    }

    .register-container>div {
        padding: 0;
    }

    .subjects {
        background-color: none;
    }
}