@import url(./css/general.css);

/* Dropdown */
.dropbtn {
    background-color: var(--clr-secondary);
    color: white;
    padding: var(--xs) var(--sm);
    border-radius: var(--brd-radius);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all ease 200ms;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: var(--brd-radius);
    z-index: 1;
}

.dropdown-content a {
    color: var(--clr-slate-800);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--clr-primary);
}

/* Tables */
.table-container {
    overflow-x: hidden;
}

.table-sub-container {
    overflow-x: auto;
}

/* Scroll bars */
.table-sub-container::-webkit-scrollbar {
    height: 10px;
}

.table-sub-container::-webkit-scrollbar-track {
    background-color: var(--clr-secondary-95);
    border-radius: var(--brd-radius);
}

.table-sub-container::-webkit-scrollbar-thumb {
    border-radius: var(--brd-radius);
    background-color: var(--clr-secondary);
}

/* xs */
@media (max-width: 475px) {

    .system-name {
        font-size: small;
    }
}