/*THIS IS CSS FOR STUDENTS & TEACHER LOGIN */

body {
    background: #0051ffbe;
    font-family: 'Exo', sans-serif;
    height: auto;

}

.container {
    display:flex;
    justify-content:center;
    align-items: center; 
    height: 100vh; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* CSS LOGIN FOR STUDENTS */
.studLogin-box {
    background-color: #ffffff;
    padding: 40px;
    float:right;
    text-align: center;
    border-radius: 20px;
    
}

input {
    outline: none;
    font-size: 25px;
}

.input-boxes {
    border: 1px;
    border-radius: 5px;
}

#studLogin-button {
    background-color: rgb(12, 0, 125);
    color: white;
    font-family: Impact;
    font-size: 30px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}



/* CSS FOR TEACHER LOGIN*/

.teacherLogin-box {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: #2022259f insets;
}

#teacherLogin-button {
    background-color: rgb(228, 16, 1);
    color: white;
    font-family: Impact;
    font-size: 30px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

#teacherLogin-button:active {
    background-color: rgb(128, 0, 0);
    color: white;
    font-family: Impact;
    font-size: 30px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
} 