body {
    background: #0051ffbe;
    font-family: 'Exo', sans-serif;
    height: auto;

}

.container {
    display:flex;
    justify-content:center;
    align-items: center; 
    height: 100vh; 

}

.signup-box {
    background-color: #ffffff;
    padding: 20px 50px 40px 50px;
    float:right;
    text-align: center;
    border-radius: 20px;
    box-shadow: #2022259f insets;
}

input {
    outline: none;
    font-size: 23px;
}

.input-boxes {
    border: 1px;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 500px;
    text-align: center;
    padding: 10px;
}

#request-button {
    background-color: rgb(12, 0, 125);
    color: white;
    font-family: Impact;
    font-size: 30px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}