body {
    background: #0051ffbe;
    font-family: 'Exo', sans-serif;
    height: auto;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.signup-box {

    background-color: #ffffff;
    padding: 20px 50px 40px 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: #2022259f insets;
    margin-bottom: 25px;
    max-width: 2000px;
}

#personal {
    float: left;
}

#subjects {
    float: right;
}

#personal,
#subjects {
    margin: 20px;
}

label {

    float: left;
    margin-left: 70px;
}

input {
    outline: none;
    font-size: 15px;
}

.input-boxes {
    border: 1px;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 500px;
    padding: 7px;
    margin-bottom: 10px;
}

.input-boxes-half {
    border: 1px;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 225px;
    padding: 7px;
    margin-bottom: 25px;
}

#middle-initial {
    width: 50px;
}

#select-campus {
    width: 500px;
    height: auto;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

#register_button {
    background-color: rgb(12, 0, 125);
    color: white;
    font-family: Impact;
    font-size: 30px;
    padding: 5px;
    height: 50px;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}